Categories:
  - Connectivity
License: GPL-3.0-or-later
AuthorName: hurricane
AuthorWebSite: https://github.com/strongsand
SourceCode: https://github.com/strongsand/L-Shell-Orbit
IssueTracker: https://github.com/strongsand/L-Shell-Orbit/issues

AutoName: L-Shell Orbit

RepoType: git
Repo: https://github.com/strongsand/L-Shell-Orbit.git

Builds:
  - versionName: 0.1.0-beta
    versionCode: 1
    commit: 802ecabb9cdf136c4af1d0b0e6bef96865837876
    subdir: app
    gradle:
      - yes

AutoUpdateMode: Version
UpdateCheckMode: Tags ^v[0-9].*$
CurrentVersion: 0.1.2-beta
CurrentVersionCode: 3
